<mgl-map
  [style]="style"
  [zoom]="zoom()"
  [center]="center()"
  class="map-container"
  (mapClick)="onMapClick($event)"
>
  <mgl-geojson-source
    id="pois"
    [data]="(pois$ | async) || { type: 'FeatureCollection', features: [] }"
  >
    <mgl-layer
      id="pois-layer"
      type="circle"
      [source]="'pois'"
      [paint]="{
        'circle-radius': 10,
        'circle-color': '#e63946',
        'circle-stroke-color': '#000',
        'circle-stroke-width': 2
      }"
      (layerClick)="onPoiClick($event)"
      (layerMouseEnter)="onPoiHover($event)"
      (layerMouseLeave)="onPoiLeave()"
    ></mgl-layer>
  </mgl-geojson-source>
  @if (hoveredPoi()) {
  <mgl-popup [lngLat]="hoveredPoi()!.coordinates" [closeButton]="false" [closeOnClick]="false">
    <div class="popup-content">
      <strong>{{ hoveredPoi()!.name }}</strong
      ><br />
      Categoría: {{ hoveredPoi()!.category }}
    </div>
  </mgl-popup>
  }
</mgl-map>

<div class="floating-controls">
  <app-import-poi></app-import-poi>
  <app-save-poi></app-save-poi>
  <app-export-poi></app-export-poi>
  <app-reset-poi></app-reset-poi>
</div>

<app-poi-dialog
  [show]="showDialog()"
  [lng]="dialogLng()"
  [lat]="dialogLat()"
  [poiData]="editingPoi()"
  (save)="addPoi($event)"
  (close)="onCloseDialog()"
  (delete)="deletePoi()"
></app-poi-dialog>
